html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    zoom: 0.85;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* Estilos para la burbuja flotante */
#translate-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 9999;
    display: flex;
    align-items: center;
}

/* Estilo para el selector de idiomas */
#language-select {
    border: none;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;
}

/* Oculta el feo banner de Google Translate */
.goog-te-banner-frame {
    display: none !important;
}

/* Oculta la marca de Google Translate */
.goog-logo-link, .goog-te-gadget span {
    display: none !important;
}
